@import "../../_variables.scss";

.main-container {
  width: 100%;
  min-height: calc(100vh - 150px);
  box-sizing: border-box;
  padding: 33px 10px;
  background-color: $white;
}
.create {
  display: flex;
  justify-content: space-around;
}
agm-map {
  height: 800px;
  width: 1400px;
}
.map {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.info {
  display: flex;
  justify-content: space-around;
  p {
    width: 150px;
    margin: 10px;
    padding: 5px;
    font-size: 1.2em;
  }
}
h2,h3 {
  text-align: center;
  margin: 10px 0;
}
.routeData {
  line-height: 2em;
  text-align: center;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  padding:10px 0;   
      b{
        text-align: left;
      }
}
.visit{
  padding: 5px 14px;
}
hr{
  width: 20%;
  margin:5px auto;
}