/* FONTS */
$sans-font: sans-serif;
$serif-font:  sans-serif;

/* CORP COLORS */
$primary: #06b492;
$primaryh: #20818b;
$primary-tp1: rgba(54, 130, 138, 0.2);
$error: #df1540;
$error-bg: #ffeaee;

/* DURATION COLORS */
$dc-7200: #33aa02;
$dc-10800: #83b200;
$dc-14400: #c1ac10;
$dc-18000: #bf6411;
$dc-21600: #bc3313;

//B&W
$grey1: #333;
$grey2: #474747;
$grey3: #9faaaa;
$grey3h: #849292;
$grey4: #cfcfcf;
$grey5: #eee;
$white: #fff;
$white-tp9: rgba(255,255,255,.9);

//DAYS
$dayRed:rgb(139, 69, 69);
$dayGreen: rgb(69, 139, 98);
$dayYellow: rgb(139, 141, 31);
$dayBlue: rgb(64, 98, 160);
$dayPurple: rgb(80, 67, 150);
$dayOrange: rgb(173, 93, 46);



