@import "../../_variables.scss";

.footer{
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background: $grey1;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  span{
    margin: 0 5px;
  }
}