@import "../../_variables.scss";

.main-container {
  width: 100%;
  min-height: calc(100vh - 150px);
  box-sizing: border-box;
  padding: 25px 10px;
  background-color: $white;
}

agm-map {
  height: 700px;
  width: 1200px;
}
.map {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.create {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
button {
  margin-top: 15px;
  width: 1200px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.list {
  width: 400px;
}
.smallButton {
  width: 90px;
  height: 20px;
  padding: 5px;
  font-size: 1em;
  margin: 8px 0;
}
.info {
  display: flex;
  justify-content: space-around;
  p {
    width: 150px;
    margin: 10px;
    padding: 5px;
    font-size: 1.2em;
  }
}
h2 {
  text-align: center;
  margin: 5px 0;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.imput{
  margin:0 ;
}
.img{
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  margin:10px
}