@import "../../_variables.scss";

h1 {
  margin: 20px 10px;
  font-family: $serif-font;
  text-align: center;
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 90px);
  box-sizing: border-box;
  padding: 30px 10px;
  background-color: $white;
}

.trip-card {
  width: calc(33.2% - 30px);
  height: 300px;
  vertical-align: top;
  display: inline-block;
  margin: 15px;
  .card-img {
    height: 300px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all ease 0.3s;
    }
  }
  .card-data {
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.89);
    a {
      text-decoration: none;
    }
  }
  a:hover {
    img {
      transform: scale(1.2);
      opacity: 0.8;
    }
  }
}
.trip {
  position: relative;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  h3 {
    color: $primary;
    font-size: 26px;
    font-family: $serif-font;
    margin-bottom: 10px;
  }
  p {
    color: $grey2;
  }
  svg {
    margin-right: 6px;
    color: $grey3;
  }
  a {
    position: relative;
    display: block;
    color: $white;
    .card-data {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
  button {
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 90px;
  }
  .button2{
    position: absolute;
    bottom:45px;
    right: 15px;
    width: 90px
  }
}
.new-trip {
  text-align: center;
  background-image: url("../../assets/images/1200px-Olympic_flag.svg.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;

  a {
    color: $primary;
    text-decoration: none;
    display: block;
    height: 100%;
    background-color: rgba(54, 130, 138, 0.1);
    transition: all ease 0.3s;
    .squere {
      display: inline-block;
      width: 65%;
      height: 62%;
      border: 4px solid $primary;
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 60px;
      line-height: 140px;
      background-color: rgba(255, 255, 255, 0.7);
      transition: all ease 0.3s;
    }
    h3 {
      font-size: 30px;
    }
    &:hover {
      background-color: rgba(54, 130, 138, 0.05);
      .squere {
        width: 100%;
        height: 100%;
        line-height: 160px;
        margin-top: 0;
        font-size: 70px;
        border-color: $primaryh;
        background-color: rgba(54, 130, 138, 0.05);
      }
    }
  }
}
