<div class="main-container">
  <h1>Your trips</h1>
  <div class="trip-card trip" *ngFor="let trip of trips">
    <a [routerLink]="['/trips',trip._id]">
      <div *ngIf="trip.img" class="card-img">
          <img *ngIf="trip.img" class="card-img" src="{{trip.img}}" >
          <img *ngIf="!trip.img" class="card-img" src="../../assets/images/deffault.jpg">
      </div>
      <div class="card-data">
        <h3>
          {{trip.city.name}} ({{trip.country.name}})
        </h3>
        <p>
          <i class="fa fa-calendar-alt"></i> {{trip.dates[0] | date : "d MMM" }} - {{trip.dates[trip.dates.length -1] | date : "d MMM, y"}}</p>
        </div>
      </a>
      <button class="button2" [routerLink]='["create",trip._id]'>Edit</button>
      <button (click)="deleteTrip(trip._id)">Delete trip</button>
    </div>
  <div class="trip-card new-trip">
    <a [routerLink]="['/trips/new']">
      <div class="squere">
      </div>
      <h3>
        New Trip
      </h3>
    </a>
  </div>
</div>



