@import "../../_variables.scss";

.main-container {
  width: 100%;
  min-height: calc(100vh - 90px);
  box-sizing: border-box;
  padding: 30px 10px;
  background-size: cover;
}
.form-container {
  margin-top: 100px;
}
