@import "../../_variables.scss";

.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1 {
  margin: 40px 10px;
  font-family: $serif-font;
  text-align: center;
}

.card {
  min-width: 30%;
}

.main-container {
  width: 100%;
  min-height: calc(100vh - 90px);
  box-sizing: border-box;
  padding: 30px 10px;
  background-color: $white;
}

.trip-card {
  width: calc(33.2% - 30px);
  height: 300px;
  margin: 15px;
}

agm-map {
  height: 400px;
  bottom: 15px;
}
.map {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.day-container {
  max-width: 560px;
  margin: 0 auto;
  padding: 20px 30px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.89);
  box-shadow: 0px 3px 20px 2px rgba(5, 20, 20, 0.4);
}

.info {
  display: flex;
  justify-content: space-around;
  p {
    width: 150px;
    margin: 10px;
    padding: 5px;
    font-size: 1.2em;
  }
}
button{
  height: 20px;
  width: 150px;
  padding: 5px;
  font-size: 1em;
  margin: 8px 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
}
.visit{
  margin: 20px 0;
  padding: 5px 14px;
}